$color-background-primary: #ffffff;
$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-primary: #1c7fda;
$color-secondary: #9bc1ff;
$color-error: #ff0000;
$font-primary:
  DM Sans,
  sans-serif;
