:root {
  --color-primary: #1c7fda;
  --color-approved: #45d700;
  --color-declined: #ff5858;
}

$color-background-primary: #ffffff;
$color-background-secondary: #e9eff2;
$color-background-light: #f9f9f9;
$color-background-highlight: #eff6ff;
$color-background-active: #FFF0DA;
$color-background-neutral: #EDEDED;
$color-text-dark: #000000;
$color-text-neutral: #5a5a5a;
$color-text-neutral-soft: #767676;
$color-text-neutral-light: #b9b9b9;
$color-text-light: #ffffff;
$color-text-primary: #4e80d1;
$color-text-secondary: #974F4F;
$color-text-safe: #4CAF50;
$color-border-neutral: #e3e4e5;
$color-border-dark: #b5b5b5;
$color-border-highlight: #86b4e1;
$color-card-warning: #FFB648;
$color-card-safe: #E3F0C0;
$color-primary: var(--color-primary);
$color-secondary: #9bc1ff;
$color-error: #ff0000;
$font-primary:
  DM Sans,
  sans-serif;
