@use '../../../styles/abstracts/variables';

.customer-controls {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$color-background-light;

  @media (max-width: variables.$breakpoint-desktop) {
    padding: 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.search-section {
  flex: 0 1 15rem;

  @media (max-width: variables.$breakpoint-desktop) {
    flex: 0 1 auto;
  }
}

.search-input-wrapper {
  position: relative;

  .search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: variables.$color-text-neutral;
  }

  input {
    width: 100%;
    flex-shrink: 1;
    min-width: 6.5rem;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border: 1px solid variables.$color-border-dark;
    border-radius: 2px;
    outline: none;

    &::placeholder {
      color: variables.$color-text-neutral-light;
      opacity: 1;
    }

    &:hover,
    &:focus {
      border: 1.5px solid variables.$color-border-highlight;
    }
  }
}

.balance-section {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  min-width: 0;
}

.balance-title {
  color: variables.$color-text-neutral-light;
  margin-bottom: 0.5rem;
}

.balance-inputs {
  padding-top: 0.5rem;
  border-top: 1px solid variables.$color-border-neutral;
  display: flex;
  gap: 1rem;
  flex: 1;
  min-width: 0;

  .input-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    min-width: 0;

    label {
      font-weight: 400;
      color: variables.$color-text-dark;
      white-space: nowrap;
    }

    input {
      width: 100%;
      max-width: 10rem;
      flex-shrink: 1;
      min-width: 6.5rem;
      padding: 0.5rem 1rem;
      border: 1px solid variables.$color-border-dark;
      border-radius: 2px;
      text-align: right;
      outline: none;

      &:hover,
      &:focus {
        border: 1.5px solid variables.$color-border-highlight;
      }
    }
  }
}

.actions-section {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  flex: 0 0 auto;
}

.btn-stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: variables.$breakpoint-desktop) {
    flex-direction: row;
  }
}

.actions-btn {
  width: 8.75rem;
  height: fit-content;
  padding: 0.75rem;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 2px;
}

.btn-primary {
  background-color: variables.$color-primary;
  color: variables.$color-text-light;
  border: 1px solid transparent;

  &:hover {
    opacity: 0.9;
  }
}

.btn-outline {
  background-color: variables.$color-background-primary;
  color: variables.$color-text-primary;
  border: 1px solid variables.$color-border-highlight;

  &:hover {
    background-color: variables.$color-background-highlight;
  }
}
