@use './base/reset';
@use './abstracts/variables';

body {
  font-family: variables.$font-primary;
  background-color: variables.$color-background-primary;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
