@use './base/reset';
@use './abstracts/variables';

body {
  height: 100vh;
  font-family: variables.$font-primary;
  background-color: variables.$color-background-primary;
}

#root {
  height: 100%;
}
