@use '../../../styles/abstracts/variables';

.clients-widget-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .customer-profile-title {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: variables.$color-text-primary;
  }

  .widget-pages-container {
    width: 100%;
    padding: 1rem 0.5rem 0;
  }

  .customer-table-wrapper {
    width: 100%;
  }
}
