.header {
  height: 5rem;
  display: flex;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-between;

  .logo {
    cursor: pointer;
  }

  .header-nav {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
  }
}
